[listen]
Scheme = "http"          # <http/https>.
Host = "127.0.0.1"       # Use * or 0.0.0.0 for "any".
Port = 11000
Prefix = ""              # /prefix/key requests will be passed into engine
                         # as Get(key). If Prefix="", request router will
                         # wire /key into Get(key).

[limit]
MaxKeyLength = 200       # Maximum length of key with which a request will be
                         # handled, otherwise ignored.

[cert]
KeyPath = ""             # Path to key file for https, ignored for http.
CertPath = ""            # Path to cert.

[origin]
Scheme = "http"
Host = "127.0.0.1"
Port = 12000
Prefix = ""              # Backend url = scheme://host:port/prefix/key.

[ttl]
TickDelta = "1s"
SetCacheControlResponseHeader = true         # Sets "Cache-Control" http response header
                                             # if ttl exists for the given key.
SetChainlightningExpiryReponseHeader = true  # Sets "Chainlighting-Expiry" http response
                                             # header if ttl exists for the given key.

[cachefill]
Timeout = "2s"

[stats]
TickDelta = "10s"
RelevanceWindow = "24h"  # The time window (measured since last accessed) within
                         # which an entry is considered relevant. Irrelevant
                         # entries are first to be evicted when cache is full.

[capacity]
MB = 1000                # 1G.

[log]
Level = "always"                 # <always/error>, "always" to log every request or "error"
                                 # to log the request info of unsuccessful requests only.
                                 # Log output is stdout for successful requests and stderr
                                 # for unsuccessful requests.
RemoteAddress = "RemoteAddr"     # <RemoteAddr/X-Forwarded-For>, "RemoteAddr" if not
                                 # behind proxy, "X-Forwarded-For" if behind proxy.
